* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url('Images/background.jpg');
    background-size: 40% auto;
    background-position: right;
    background-repeat: no-repeat;
}
.container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #0f0f0f;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff009d;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff00aa;
}
#Decrypt {
    padding: 50px 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626d0;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form button {
    padding: 14px 60px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #ff00d4;
    border-radius: 4px;
    color: #ff00d4;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

form button:hover {
    background-color: #ff00bf;
    color: white;
}
